#main 
{margin-left: 120px
}
.w3-row-padding img {
    margin-bottom: 12px
}
body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
.w3-sidebar {
    width: 120px;background: #222;
}

@media only screen and (max-width: 600px) {
    #main {margin-left: 0}
}

button {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    margin-top: 30px;
}
button:active {
    color: #000;
}

.i {
    
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(84, 82, 82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}